@charset "utf-8";
/* CSS Document */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, address, code, em, img, small, strong, sub, sup, b, i,  
dl, dt, dd, ol, ul, li, form, label, table, tr, th, td, 
article, aside, canvas, details, figcaption, figure, hgroup, 
footer, header, menu, nav, section, time, mark, audio, video {  
  margin:0;  
  padding:0;  
  border:0;  
  outline:0;   
  vertical-align:baseline;  
  background:transparent;  
}  
  
body {  
  font-size: 14px;
  font-family: Arial,'MicrosoftYaHe','微软雅黑','Times New Roman',sans-serif;
  -webkit--box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms--box-sizing: border-box;
        -o-box-sizing: border-box;
           box-sizing: border-box; 
  background-color: #e6e6e6;
  text-align: center;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
} 
input,textarea,button,select,option {
  font-family: Arial,'MicrosoftYaHe','微软雅黑','Times New Roman',sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;
} 
     
article,aside,canvas,details,figcaption,figure,main  
footer,header,hgroup,menu,nav,section,summary {   
  display:block;  
}  
  
ul,ol {  
  list-style:none;  
}  
        
a {  
    margin:0;  
    padding:0;  
    border:0;  
    font-size:100%;  
    vertical-align:baseline;  
    background:transparent;
	text-decoration: none;  
}  
    
table {  
    border-collapse:collapse;  
    border-spacing:0;  
}  
  
input, select {  
    vertical-align:middle;  
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
} 

b,em {
  font-weight: normal;
} 

.fl {
  float:left;
}

.fr {
  float:right;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  clear: both;
  content: '';
  width: 0;
  height: 0;
  display: block;
  visibility: hidden;
}
.inbody {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  /*min-width: 1200px;*/
}
/*@media screen and (max-width:1200px) {
  .inbody {
    position: relative;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
  }
}*/
img {
  max-width: 100%;
}
