@charset "utf-8";
/* CSS Document */
.nav-box {
  color: #999;
}
.header {
  position: relative;
  z-index: 99;
  background-color: #f6f6f6;
  padding: 26px 30px 30px;
}
.header .logo {
  margin-right: 20px;
}
.header .search-box {
  position: relative;
  margin-top: 16px;
  width: 350px;
}
#search-result {
  background-color: #fff;
  text-align: left;
  width: 100%;
  height: 34px;
  line-height: 34px;
  border: #ccc 1px solid;
  border-radius: 2px;
}
@media screen and (max-width:980px){
  .header .search-box {
    width: 60%;
    float: none;
    margin-top: 74px;
  }
  #search-result {
    background-color: #fff;
    text-align: left;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: #ccc 1px solid;
    border-radius: 2px;
 }
}
#search-result .option-win {
  position: relative;
  cursor: pointer;
}
#search-result .option-list {
  background: #fff;
  padding: 10px 40px;
  border-top: #ccc 1px solid;
  border-radius: 2px;
  margin-top: 4px;
  line-height: 40px;
  box-shadow: 0 0 8px #999;
  cursor: pointer;
  display: none;
}
#search-result .selected {
  display: none;
}
#search-result .option-win b {
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/icon/gps.png) center no-repeat;
  height: 34px;
  width: 40px;
  display: block;
}
#search-result .option-win span {
  padding-left: 36px;
}
.header .search-btn {
  position: absolute;
  right: -1px;
  top: 0;
  height: 36px;
  padding: 0 10px;
  text-align: center;
  line-height: 36px;
  color: #fff;
  background: #20B7B6;
  border-radius: 0 2px 2px 0;
  margin-left: -1px;
}

/*main content*/
.main {
  background-color: #FFF;
  text-align: center;
  min-height: 800px;
}
.cont-box {
 display: inline-block;
 width: 1050px;
 padding: 45px 0 100px;
}

/*left side*/
.cont-box .left-side {
  width: 300px;
  float: left;
}
.cont-box .link-box {
  display: block;
}
.cont-box .link-box .left-msg {
  display: inline-block;
}
.cont-box .left-msg .msg {
  display: inline-block;
}
.cont-box .left-msg .touxiang {
  width: 74px;
  height: 74px;
  border-radius: 37px;
  overflow: hidden;
}
.cont-box .left-msg .basic {
  line-height: 30px;
  font-size: 16px;
}
.cont-box .left-msg .the-name {
  font-weight: 700;
  color: #000;
}
.cont-box .left-msg .the-gender {
  background: url(../images/icon/gender-icons.png);
  background-position: left 30px;
  height: 30px;
  width: 16px;
  margin-left: 6px;
  margin-right: 6px;
}
.cont-box .left-msg .the-age {
  color: #666;
}
.cont-box .left-msg .speak-lang {
  color: #666;
}
.cont-box .left-msg .professional {
  color: #666;
}
.cont-box .left-side .chat {
  padding: 0 20px;
  height: 36px;
  border-radius: 2px;
  background-color: #20B7B6;
  line-height: 36px;
  color: #fff;
  display: inline-block;
  margin-top: 16px;
  cursor: pointer;
}
.cont-box .left-side dl {
  background: #f5f5f5;
  padding: 16px 20px 24px;
  margin-top: 32px;
  text-align: left;
}
.cont-box .left-side dt {
  color: #666;
  font-weight: 700;
  line-height: 24px;
}
.cont-box .left-side dd {
  color: #666;
  line-height: 20px;
  font-size: 13px;
}
@media screen and (max-width:980px){
  .cont-box .left-side {
    position: relative;
    float: none;
    display: inline-block;
    width: 96%;
    zoom: 1;
    margin-bottom: 60px;
    background: #f5f5f5;
    padding: 20px 0;
    min-height:180px;
  }
  .cont-box .left-side .link-box {
    float: left;
    width: 250px;
  }
  .cont-box .left-side .chat-box {
    position: absolute;
    left: 0;
    top: 150px;
    width: 250px;
    text-align: center;
  }
  .cont-box .left-side dl {
    float: left;
    margin-top: 0;
    width: 375px;
    height: auto;
  }
  .cont-box {
    display: inline-block;
    width: 100%;
  }
}

/*right side*/
.cont-box .right-side {
  width: 695px;
  text-align: left;
  float: right;
}
@media screen and (max-width:980px){
  .cont-box .right-side {
    width: 96%;
    display: inline-block;
    float: none;
  }
  .cont-box .left-side dl { width:63%;}
}
.cont-box .detaile-msg>li {
  margin-bottom: 36px;
}
.cont-box .right-side .tit00 {
  font-size: 24px;
  color: #000;
  line-height: 36px;
}
.cont-box .right-side .tit {
  font-size: 18px;
  color: #000;
  line-height: 36px;
}
.cont-box .right-side .state {
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  background-color: #EC73A1;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  margin-top: 6px;
}
.cont-box .right-side .supplement {
  margin-top: 6px;
}
.cont-box .right-side .price {
  color: #20B7B6;
  font-size: 24px;
  line-height: 36px;
}
.cont-box .right-side .apply {
  width: 128px;
  height: 36px;
  background-color: #20B7B6;
  border-radius: 2px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  display: block;
  margin-left: 27px;
  cursor: pointer;
}
.cont-box .supplement .date {
  color: #999;
  line-height: 36px;
}
.cont-box .right-side .pic-list {
  position: relative;
  width: 710px;
  margin-top: 10px;
}
.cont-box .right-side .pic-list .pic {
  display: block;
  margin-right: 15px;
  margin-bottom: 15px;
}
.cont-box .right-side .pic-list .pic a {
  width: 100%;
  height: 100%;
  display: block;
}
.cont-box .house-add .supplement {
  line-height: 20px;
}
.cont-box .house-add .more {
  margin-left: 10px;
  color: #20B7B6;
}
.cont-box .house-add .more:hover {
  color: #a0e95a;
  text-decoration: underline;
}
.cont-box .house-add .map-box {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.cont-box .house-add .b-s {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ccc;
  box-shadow: 0 0 4px #999;
  border-radius: 2px;
  overflow: hidden;
  width: 24px;
  height: 49px;
  cursor: pointer;
}
.cont-box .house-add #imgMap {
  width: 100%;
  height: 400px;
}
.cont-box .house-add #bigger {
  width: 24px;
  height: 24px;
  background-color: #fff;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  color: #666;
  font-size: 16px;
}
.cont-box .house-add #smaller {
  width: 24px;
  height: 24px;
  background-color: #fff;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  color: #666;
  margin-top: 1px;
  font-size: 16px;
}

.cont-box .house-detailed .supplement {
  line-height: 24px;
  color: #333;
}
.cont-box .house-detailed .icon-box {
  background: #fafafa;
  padding: 12px 0 12px 20px;
  margin-top: 10px;
}
.cont-box .house-detailed .icon-box li {
  width: 220px;
  line-height: 50px;
}
.cont-box .house-detailed .icon-box .icon {
  width: 48px;
  height: 50px;
  background: url(../images/icon/ptss-icons.png);
  overflow: hidden;
}
.cont-box .house-detailed .icon-box .icon01 {
  background-position: left -5px;
}
.cont-box .house-detailed .icon-box .icon02 {
  background-position: left -65px;
}
.cont-box .house-detailed .icon-box .icon03 {
  background-position: left -125px;
}
.cont-box .house-detailed .icon-box .icon04 {
  background-position: left -185px;
}
.cont-box .house-detailed .icon-box .icon05 {
  background-position: left -245px;
}
.cont-box .house-detailed .icon-box .icon06 {
  background-position: left -305px;
}
.cont-box .house-detailed .icon-box .icon07 {
  background-position: left -365px;
}
.cont-box .house-detailed .icon-box .icon08 {
  background-position: left -425px;
}
.cont-box .house-detailed .icon-box .icon09 {
  background-position: left -485px;
}
.cont-box .house-detailed .icon-box .icon10 {
  background-position: left -545px;
}
.cont-box .house-detailed .icon-box .icon11 {
  background-position: left -605px;
}
.cont-box .house-detailed .icon-box .icon12 {
  background-position: left -665px;
}
.cont-box .house-detailed .icon-box .icon13 {
  background-position: left -725px;
}
.cont-box .house-detailed .icon-box .icon14 {
  background-position: left -905px;
}
.cont-box .house-detailed .icon-box .icon15 {
  background-position: left -845px;
}
.cont-box .house-detailed .icon-box .icon16 {
  background-position: left -785px;
}
.cont-box .house-detailed .icon-box .icon-text {
  margin-left: 10px;
}
.cont-box .house-detailed .detailed-msg {
  line-height: 24px;
  margin-top: 20px;
}
.cont-box .house-detailed .detailed-msg-li {
  width: 347px;
  padding: 6px 0;
} 
.cont-box .house-detailed .detailed-msg-li dt {
  color: #999;
  margin-right: 16px;
}
.cont-box .house-detailed .detailed-msg-li dd {
  color: #333;
}

.cont-box .comments .list {
  margin-top: 10px;
  padding: 0 12px;
}
.cont-box .comments .part {
  margin-top: 30px;
}
.cont-box .comments .touxiang {
  width: 54px;
  height: 54px;
  border-radius: 27px;
  overflow: hidden;
}
.cont-box .comments .pres-left {
  width: 600px;
  padding-top: 4px;
}
.cont-box .comments .who-box {
  line-height: 30px;
}
.cont-box .comments .who {
  font-size: 16px;
  color: #000;
}
.cont-box .comments .date {
  color: #999;
}
.cont-box .comments .point {
  color: #20B7B6;
  line-height: 24px;
}
.cont-box  .comments-out {
  position: relative;
  margin-top: 80px;
}
.cont-box  .comments-out textarea {
  width: 100%;
  height: 140px;
  border: #ccc 1px solid;
}
.cont-box  .comments-out button {
  border: 0;
  background-color: #20B7B6;
  color: #fff;
  height: 24px;
  padding: 0 10px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.cont-box  .comments-out select {
  height: 24px;
  width: 80px;
  border-radius: 2px;
}

@media screen and (max-width:980px){
	.cont-box .left-side dt.dt-3-28{ font-size:24px;}
	.cont-box .left-side dd.dd-3-28{ font-size:22px; line-height:26px;}
	.cont-box .right-side .pic-list{ width:76%; margin:auto;}
	.cont-box .house-detailed .detailed-msg-li{ font-size:22px;width: 50%;}
	.cont-box .house-detailed .icon-box .icon-text{ font-size:20px;}

}