@charset "utf-8";
/* CSS Document */
.nav-box {
  color: #999;
}
.header {
  position: relative;
  z-index: 99;
  background-color: #f6f6f6;
  padding: 26px 30px 30px;
}
.header .logo {
  margin-left: 20px;
}
.header .search-box {
  position: relative;
  margin-top: 16px;
}
#search-result {
  background-color: #fff;
  text-align: left;
  width: 350px;
  height: 34px;
  line-height: 34px;
  border: #ccc 1px solid;
  border-radius: 2px 0 0 2px;
}
@media screen and (max-width:980px){
  .header .search-box {
    width: 60%;
    float: none;
    margin-top: 74px;
  }
  #search-result {
    background-color: #fff;
    text-align: left;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: #ccc 1px solid;
    border-radius: 2px;
 }
}
@media screen and (max-width:980px){
  .cont-box {
    display: inline-block;
    width: 100%;
  }
}
#search-result .option-win {
  position: relative;
  cursor: pointer;
}
#search-result .option-list {
  background: #fff;
  padding: 10px 40px;
  border-top: #ccc 1px solid;
  border-radius: 2px;
  margin-top: 4px;
  line-height: 40px;
  box-shadow: 0 0 8px #999;
  cursor: pointer;
  display: none;
}
#search-result .selected {
  display: none;
}
#search-result .option-win b {
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/icon/gps.png) center no-repeat;
  height: 34px;
  width: 40px;
  display: block;
}
#search-result .option-win span {
  padding-left: 36px;
}
.header .search-btn {
  position: absolute;
  right: -1px;
  top: 0;
  height: 36px;
  padding: 0 10px;
  text-align: center;
  line-height: 36px;
  color: #fff;
  background: #20B7B6;
  border-radius: 0 2px 2px 0;
  margin-left: -1px;
}

/*main content*/
.main {
  background-color: #FFF;
  text-align: center;
  min-height: 900px;
}
.cont-box {
 display: inline-block;
 width: 800px;
 padding: 0 0 100px;
}

/*link row*/
.top-link-row {
  border-bottom: #e5e5e5 1px solid;
  height: 61px;
  line-height: 58px;
}
.top-link-list {
  width: 900px;
  display: inline-block;
  font-size: 16px;
  padding-left: 20px;
}
.top-link-list .link-part {
  position: relative;
  margin-right: 60px;
  cursor: pointer;
}
.top-link-list .link-part a {
  color: #333;
  display: inline-block;
}
.top-link-list .link-part span {
  position: absolute;
  display: block;
  background-color: #f0f0f0;
  font-size: 12px;
  font-weight: normal;
  color: #666;
  top: 46px;
  padding: 6px 8px;
  line-height: 16px;
  border-radius: 2px;
  text-align: left;
  white-space: nowrap;
  display: none;
}
.top-link-list .link-part b {
  position: absolute;
  background: transparent url(../images/icon/xsjt.png);
  width: 10px;
  height: 5px;
  display: block;
  top: -5px;
  left: 10px;
}
.top-link-list .link-part.active a {
  font-weight: 700;
  color: #20B7B6;
  border-bottom: #20B7B6 3px solid;
}
.top-link-list .link-part:hover span {
  display: block;
}

/*content*/
.main .housing--release-list {
  width: 100%;
  margin-right: 10px;
  padding-top: 20px;
}
.main .housing--release-list .wrapper {
  text-align: center;
  border-bottom: #ccc 1px solid;
  margin-top: 30px;
}
.housing--release-list .left-msg .msg {
  display: inline-block;
  line-height: 20px;
  color: #333;
}
.housing--release-list .left-msg .basic {
  display: inline-block;
  line-height: 30px;
  color: #000;
  font-size: 16px;
  padding-top: 10px;
}
.housing--release-list .left-msg .touxiang {  
  width: 80px;
  height: 80px;
  border-radius: 40px;
  overflow: hidden;
}
.housing--release-list .left-msg .the-name {
  font-weight: 800;
}
.housing--release-list .left-msg .the-gender {
  width: 16px;
  height: 30px;
  background: url(../images/icon/gender-icons.png) no-repeat;
  background-position: 0 -30px;
  margin-left: 6px;
  margin-right: 6px;
}
.housing--release-list .right-msg {
  text-align: left;
}
.housing--release-list .right-msg .cont-item {
  width:/* 616px;*/600px;
  display: block;
}
.housing--release-list .right-msg .tit-row {
  font-size: 18px;
  line-height: 30px;
}
.housing--release-list .right-msg .tit {
  color: #000;
}
.housing--release-list .right-msg .price {
  color: #20B7B6;
}
.housing--release-list .right-msg .state {
  color: #999;
  font-size: 14px;
  line-height: 24px;
  border-radius: 2px;
  text-align: center;
}

.housing--release-list .right-msg .date {
  color: #000;
  font-size: 14px;
  color: #999;
}
.housing--release-list .right-msg .address {
  color: #999;
  line-height: 30px;
  font-size: 14px;
}
.housing--release-list .right-msg .pic-list {
  margin-top: 8px;
  width: 624px;
}
.housing--release-list .right-msg .pic {
  width: 200px;
  height: 142px;
  overflow: hidden;
  margin-right: 8px;
}
.housing--release-list .right-msg .release-btn {
  line-height: 40px;
}
.housing--release-list .release-btn a {
  margin-left: 20px;
  color: #999;
}
.housing--release-list .release-list {
  margin-top: 10px;
}
.housing--release-list .release-list .part {
  padding-top: 10px;
  padding-bottom: 30px;
}
.housing--release-list .release-list .tx {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  margin-right: 20px;
}
.housing--release-list .release-list .msg-list {
  line-height: 20px;
  font-size: 14px;
}
.housing--release-list .release-list .word {
  color: #333;
  display: inline-block;
  padding: 0 4px;
}
.housing--release-list .release-list .the-name {
  font-weight: 600;
}
.housing--release-list .release-list .the-gender {
  background: url(../images/icon/gender-icons.png) no-repeat;
  background-size: 70%;
  background-position: center -26px;
  height: 20px;
  width: 11px;
}
.housing--release-list .release-list .pic-s {
  width: 50px;
  height: 36px;
  overflow: hidden;
  margin-left: 30px;
  margin-top: 2px;
}
.housing--release-list .release-list .in-date {
  text-align: right;
  line-height: 20px;
}
.housing--release-list .release-list .in-date span {
  color: #20B7B6;
}
.housing--release-list .deposit {
  text-align: right;
  line-height: 20px;
  color: #999;
  line-height: 30px;
  font-size: 14px;
}
.housing--release-list .release-list .deposit span {
  color: #20B7B6;
}
.housing--release-list .release-list .btn {
  position: relative;
}
.housing--release-list .release-list .btn a {
  display: block;
  background: #20B7B6;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  border-radius: 2px;
  margin-left: 12px;
  text-align: center;
  margin-top: 16px;
  cursor: pointer;
}
.housing--release-list .release-list .btn .pay-link {
  display: block;
  background: #20B7B6;
  height: 30px;
  line-height: 30px;
  color: #fff;
  border-radius: 2px;
  margin-left: 12px;
  text-align: center;
  margin-top: 16px;
  cursor: pointer;
}
.housing--release-list .release-list .pay-box {
  position: absolute;
  z-index: 999;
  right: 0;
  bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 4px #ccc;
  width: 400px;
  line-height: 26px;
  display: none;
}
.housing--release-list .release-list .pay-box .tit {
  position: relative;
  line-height: 40px;
  background: #e5e5e5;
  border-bottom: #ccc 1px solid;
  font-size: 15px;
  color: #333;
  padding: 0 20px;
}
.housing--release-list .release-list .pay-box .tit .close {
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/icon/close02.png) center no-repeat;
  width: 30px;
  height: 40px;
  display: block;
  cursor: pointer;
}
.housing--release-list .release-list .pay-box .cont {
  padding: 0 20px 20px;
}
.housing--release-list .release-list .pay-box .part-pay {
  margin-top: 10px;
}
.housing--release-list .release-list .pay-box input[type='text'] {
  height: 24px;
  border-radius: 2px;
  border: #999 1px solid;
  width: 160px;
  padding: 0 5px;
  margin-left: 10px;
}
.housing--release-list .release-list .pay-box textarea {
  height: 24px;
  border-radius: 2px;
  border: #999 1px solid;
  width: 348px;
  height: 70px;
  padding: 5px;
}
.housing--release-list .release-list .pay-box .btn-row {
  border-top: #e5e5e5 1px solid; 
  padding-top: 8px;
  margin-top: 16px;
}
.housing--release-list .release-list .pay-box input[type='button'] {
  height: 26px;
  line-height: 24px;
  padding: 0 20px;
  background: #20B7B6;
  color: #fff;
  text-align: center;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}
.housing--release-list .release-list .pay-box button {
  height: 26px;
  line-height: 24px;
  padding: 0 20px;
  background: #20B7B6;
  color: #fff;
  text-align: center;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.housing--release-list .release-list #say-no {
  /*background: #e5e5e5;*/
  color: #666;
}
.housing--release-list .release-list #n-compensation {
  background: #EC73A1;
}
.cont-box .prompt {
  margin-top: 60px;
  font-size: 30px;
  color: #666;
  text-align: left;
}
.cont-box .more-row {
  margin-top: 30px;
  text-align: left;
}
.cont-box .more-row .more-housing {
  padding: 0 30px;
  display: inline-block;
  line-height: 50px;
  height: 50px;
  border-radius: 2px;
  background: #20B7B6;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
