@charset "utf-8";
/* CSS Document */
.nav-box {
  color: #999;
}
.header {
  position: relative;
  z-index: 99;
  background-color: #f6f6f6;
  padding: 26px 30px 30px;
}
.header .logo {
  margin-left: 20px;
}
.header .search-box {
  position: relative;
  margin-top: 16px;
}
#search-result {
  background-color: #fff;
  text-align: left;
  width: 350px;
  height: 34px;
  line-height: 34px;
  border: #ccc 1px solid;
  border-radius: 2px 0 0 2px;
}
@media screen and (max-width:981px){
  .header .search-box {
    width: 60%;
    float: none;
    margin-top: 74px;
  }
  #search-result {
    background-color: #fff;
    text-align: left;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: #ccc 1px solid;
    border-radius: 2px;
 }
}
#search-result .option-win {
  position: relative;
  cursor: pointer;
}
#search-result .option-list {
  background: #fff;
  padding: 10px 40px;
  border-top: #ccc 1px solid;
  border-radius: 2px;
  margin-top: 4px;
  line-height: 40px;
  box-shadow: 0 0 8px #999;
  cursor: pointer;
  display: none;
}
#search-result .selected {
  display: none;
}
#search-result .option-win b {
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/icon/gps.png) center no-repeat;
  height: 34px;
  width: 40px;
  display: block;
}
#search-result .option-win span {
  padding-left: 36px;
}
.header .search-btn {
  position: absolute;
  right: -1px;
  top: 0;
  height: 36px;
  padding: 0 10px;
  text-align: center;
  line-height: 36px;
  color: #fff;
  background: #20B7B6;
  border-radius: 0 2px 2px 0;
  margin-left: -1px;
}

/*main content*/
.main {
  background-color: #FFF;
  text-align: center;
  min-height: 900px;
}
.cont-box {
 display: inline-block;
 width: 900px;
 padding: 40px 0 100px;
}

/*link row*/
.top-link-row {
  border-bottom: #e5e5e5 1px solid;
  height: 61px;
  line-height: 58px;
}
.top-link-list {
  width: 900px;
  display: inline-block;
  font-size: 16px;
  padding-left: 20px;
}
.top-link-list .link-part a {
  color: #333;
  display: inline-block;
}
.top-link-list .link-part {
  position: relative;
  margin-right: 60px;
  cursor: pointer;
}
.top-link-list .link-part span {
  position: absolute;
  display: block;
  background-color: #f0f0f0;
  font-size: 12px;
  font-weight: normal;
  color: #666;
  top: 46px;
  padding: 6px 8px;
  line-height: 16px;
  border-radius: 2px;
  text-align: left;
  white-space: nowrap;
  display: none;
}
.top-link-list .link-part b {
  position: absolute;
  background: transparent url(../images/icon/xsjt.png);
  width: 10px;
  height: 5px;
  display: block;
  top: -5px;
  left: 10px;
}
.top-link-list .link-part.active a {
  font-weight: 700;
  color: #20B7B6;
  border-bottom: #20B7B6 3px solid;
}
.top-link-list .link-part:hover span {
  display: block;
}

/*content*/
.main .left-side {
  width: 250px;
  text-align: center;
}
.main .basic-msg {
  display: inline-block;
}
.main .basic-msg .msg {
  display: inline-block;
  line-height: 20px;
  color: #333;
}
.main .basic-msg .basic {
  display: inline-block;
  line-height: 30px;
  color: #000;
  font-size: 16px;
  padding-top: 10px;
}
.main .basic-msg .touxiang {  
  width: 80px;
  height: 80px;
  border-radius: 40px;
  overflow: hidden;
}
.main .basic-msg .the-name {
  font-weight: 800;
}
.main .basic-msg .the-gender {
  width: 16px;
  height: 30px;
  background: url(../images/icon/gender-icons.png) no-repeat;
  background-position: 0 -30px;
  margin-left: 6px;
  margin-right: 6px;
}


.main .right-side {
  text-align: left;
  width: 616px;
}
.main .right-side .b-tit {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.main .right-side .b-link-box {
  margin-top: 20px;
}
.main .right-side .b-link {
  margin-right: 10px;
  width: 118px;
  height: 34px;
  border: #ccc 1px solid;
  text-align: center;
  line-height: 34px;
  color: #333;
  display: block;
}
.main .right-side .b-link.active {
  background: #20B7B6;
  border: #20B7B6 1px solid;
  color: #fff;
}
.main .right-side .project-area {
  margin-top: 12px;
}
.main .right-side .project-part {
  position: relative;
  border: #e6e6e6 1px solid;
}
.main .right-side .project-part01 .jt {
  position: absolute;
  top: -8px;
  left: 182px;
  background: url(../images/icon/xsjt-1.png);
  width: 12px;
  height: 8px;
}
.main .right-side .project-part02 .jt {
  position: absolute;
  top: -8px;
  left: 54px;
  background: url(../images/icon/xsjt-1.png);
  width: 12px;
  height: 8px;
}
.main .right-side .project-part03 .jt {
  position: absolute;
  top: -8px;
  left: 310px;
  background: url(../images/icon/xsjt-1.png);
  width: 12px;
  height: 8px;
}
.main .right-side .project-part03 input[type='text'] {
  font-size: 12px;
  height: 28px;
  border: 0;
  background-color: #fff;
  border-radius: 2px 0 0 2px;
  padding: 0 5px;
  margin-top: 9px;
  outline: none;
  width: 200px;
}
.main .right-side .project-part03 input[type='button'] {
  font-size: 12px;
  height: 28px;
  border: 0;
  background-color: #DE362D;
  border-radius: 0 2px 2px 0;
  padding: 0 5px;
  margin-top: 8px;
  outline: none;
  padding: 0 8px;
  color: #fff;
  cursor: pointer;
}
.main .right-side .project-part03 button {
  font-size: 12px;
  height: 28px;
  border: 0;
  background-color: #DE362D;
  border-radius: 0 2px 2px 0;
  padding: 0 5px;
  margin-top: 8px;
  outline: none;
  padding: 0 8px;
  color: #fff;
  cursor: pointer;
}
.main .right-side .project-part dt {
  background: #e6e6e6;
  height: 48px;
  line-height: 48px;
  color: #333;
  padding: 0 20px;
}
.project-part .pro-search-row {
  font-size: 12px;
}
.project-part .pro-search-row input[type='text'] {
  margin-left: 4px;
  height: 24px;
  border: #ccc 1px solid;
  line-height: 24px;
  border-radius: 2px;
  width: 110px;
  padding: 0 5px;
}
.project-part .pro-search-row .person {
  margin-top: 11px;
}
.project-part .pro-search-row .time-scope {
  position: relative;
  margin-right: 20px;
}
.project-part .pro-search-row .search-btn {
 height: 24px;
 border: 0;
 background: #20B7B6;
 color: #fff;
 text-align: center;
 padding: 0 12px;
 border-radius: 2px;
 margin-top: 12px;
 cursor: pointer;
 line-height: 22px;
}
.project-part .msg-li {
  border-bottom: #f0f0f0 1px solid;
  padding: 10px 0;
  line-height: 24px;
}
.project-part .msg-li .msg-date {
  font-size: 12px;
  color: #999;
}
.main .right-side .project-part .pro-cont {
  position: relative;
  padding: 0 20px;
  line-height: 48px;
  border-bottom: #f0f0f0 1px solid;
  max-height: 600px;
  overflow-y: scroll
}
.main .right-side .project-part .num {
  padding: 0 4px;
}
.main .right-side .project-part .unit {
  width: 20px;
  text-align: center;
}
.main .right-side .project-part .extract {
  height: 22px;
  cursor: pointer;
  padding: 0 16px;
  line-height: 22px;
  text-align: center;
  color: #333;
  border: #999 1px solid;
  border-radius: 2px;
  margin-top: 12px;
}
.right-side .project-part .unit select {
  border: #ccc 1px solid;
  border-radius: 2px;
  height: 26px;
  width: 90px;
}
.main .right-side .housing-list {
  margin-top: 60px;
}
.main .right-side .cont-item {
  width: 616px;
  display: block;
}
.main .right-side .tit-row {
  font-size: 18px;
  line-height: 30px;
}
.main .right-side .tit {
  color: #000;
}
.main .right-side .price {
  color: #20B7B6;
}
.main .right-side .state {
  color: #fff;
  font-size: 14px;
  padding: 0 10px;
  line-height: 24px;
  border-radius: 2px;
  text-align: center;
}
.main .right-side .state01 {
  background-color: #EC73A1;
}
.main .right-side .state02 {
  background-color: #20B7B6;
}

.main .right-side .date {
  color: #000;
  font-size: 14px;
  color: #999;
}
.main .right-side .address {
  color: #999;
  line-height: 30px;
  font-size: 14px;
}
.main .right-side .pic-list {
  margin-top: 8px;
  width: 624px;
}
.main .right-side .pic {
  width: 200px;
  height: 142px;
  overflow: hidden;
  margin-right: 8px;
}
.main .right-side .tenant-btn {
  line-height: 40px;
}
.right-side .tenant-btn span {
  margin-left: 20px;
  color: #3a7aa3;
}
.right-side .tenant-list {
  margin-top: 10px;
}
.right-side .tenant-list .part {
  padding-top: 10px;
  padding-bottom: 30px;
}
.right-side .tenant-list .tx {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  margin-right: 20px;
}
.right-side .tenant-list .msg-list {
  line-height: 20px;
  font-size: 14px;
}
.right-side .tenant-list .word {
  color: #333;
  display: inline-block;
  padding: 0 4px;
}
.right-side .tenant-list .the-name {
  font-weight: 600;
}
.right-side .tenant-list .the-gender {
  background: url(../images/icon/gender-icons.png) no-repeat;
  background-size: 70%;
  background-position: center -26px;
  height: 20px;
  width: 11px;
}
.right-side .tenant-list .pic-s {
  width: 50px;
  height: 36px;
  overflow: hidden;
  margin-left: 30px;
  margin-top: 2px;
}
.right-side .tenant-list .in-date {
  text-align: right;
  line-height: 36px;
}
.right-side .tenant-list .btn {
  background: #20B7B6;
  width: 80px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  border-radius: 2px;
  margin-left: 12px;
  text-align: center;
  margin-top: 16px;
}
.right-side .tenant-list #say-no {
  background: #e5e5e5;
  color: #666;
}
.right-side .tenant-list #n-compensation {
  background: #EC73A1;
}
