@charset "utf-8";
/* CSS Document */
.nav-box {
  color: #999;
}
.header {
  position: relative;
  z-index: 99;
  background-color: #f6f6f6;
  padding: 26px 30px 30px;
}
.header .logo {
  margin-right: 20px;
}
.header .search-box {
  position: relative;
  margin-top: 16px;
  width: 350px;
}
#search-result {
  background-color: #fff;
  text-align: left;
  width: 100%;
  height: 34px;
  line-height: 34px;
  border: #ccc 1px solid;
  border-radius: 2px;
}
@media screen and (max-width:980px){
  .header .search-box {
    width: 60%;
    float: none;
    margin-top: 74px;
  }
  #search-result {
    background-color: #fff;
    text-align: left;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: #ccc 1px solid;
    border-radius: 2px;
 }
}
#search-result .option-win {
  position: relative;
  cursor: pointer;
}
#search-result .option-list {
  background: #fff;
  padding: 10px 40px;
  border-top: #ccc 1px solid;
  border-radius: 2px;
  margin-top: 4px;
  line-height: 40px;
  box-shadow: 0 0 8px #999;
  cursor: pointer;
  display: none;
}
#search-result .selected {
  display: none;
}
#search-result .option-win b {
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/icon/gps.png) center no-repeat;
  height: 34px;
  width: 40px;
  display: block;
}
#search-result .option-win span {
  padding-left: 36px;
}
.header .search-btn {
  position: absolute;
  right: -1px;
  top: 0;
  height: 36px;
  padding: 0 10px;
  text-align: center;
  line-height: 36px;
  color: #fff;
  background: #20B7B6;
  border-radius: 0 2px 2px 0;
  margin-left: -1px;
}

/*main content*/
.main {
  background-color: #FFF;
  min-height: 800px;
  text-align: center;
  padding: 30px 0 100px;
}
.cont-box {
 display: inline-block;
 width: 960px;
 text-align: left;
}
.cont-box .remind {
  line-height: 40px;
  color: #d03925;
  font-size: 16px;
}
.cont-box .pay-box {
  width: 100%;
}
.cont-box .pay-tit {
  height: 60px;
  line-height: 60px;
  color: #333;
  font-size: 24px;
  font-weight: 700;
  border-bottom: #999 1px solid;
}
.cont-box .currency-type {
  padding-top: 20px;
}
.cont-box .currency-type label {
  line-height: 24px;
  color: #333;
  margin-right: 10px;
}
.cont-box .currency-type select {
  height: 24px;
  width: 100px;
  border-radius: 2px;
  border: #999 1px solid;
  outline: none;
  line-height: 22px;
}
.house-msg {
  width: 920px;
  background: #f0f0f0;
  padding: 20px;
  margin-top: 20px;
}
.house-msg .left-msg {
  text-align: center;
}
.house-msg .msg {
  display: inline-block;
  line-height: 20px;
  color: #333;
}
.house-msg .basic {
  display: inline-block;
  line-height: 30px;
  color: #000;
  font-size: 16px;
  padding-top: 10px;
}
.house-msg .touxiang {  
  width: 70px;
  height: 70px;
  border-radius: 35px;
  overflow: hidden;
}
.house-msg .the-name {
  font-weight: 800;
}
.house-msg .the-gender {
  width: 16px;
  height: 30px;
  background: url(../images/icon/gender-icons.png) no-repeat;
  background-position: 0 -30px;
  margin-left: 6px;
  margin-right: 6px;
}
.house-msg .right-msg {
  text-align: left;
  margin-left: 50px;
}
.house-msg .tit-row {
  font-size: 18px;
  line-height: 30px;
}
.house-msg .tit {
  color: #000;
}
.house-msg .price {
  color: #20B7B6;
}
.house-msg .address {
  color: #999;
  line-height: 30px;
}
.house-msg .pic-list {
  margin-top: 8px;
}
.house-msg .pic {
  width: 150px;
  height: 120px;
  margin-right: 10px;
}
.house-msg .date {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}
.house-msg .date input[type='text'] {
  height: 22px;
  line-height: 22px;
  border-radius: 2px;
  border: #ccc 1px solid;
  width: 160px;
  padding: 0 6px;
}
.house-msg .date label.icon {
  position: absolute;
  right: 2px;
  top: 0;
  background: url(../images/icon/rili.png) center no-repeat;
  width: 22px;
  height: 22px;
}
.pay-msg {
  border-top: #ccc 1px solid;
  border-bottom: #ccc 1px solid;
  margin-top: 20px;
}
.pay-msg .money-list {
  border-radius: 2px;
  padding: 20px;
  line-height: 30px;
  font-size: 15px;
}
.pay-msg .money-list .part {
  color: #333;
  width: 100%;
  margin-right: 80px;
}
.pay-msg .money-list .part .f-w-f {
  margin-left: 80px;
}
.pay-msg .money-list .envelope .elem {
  padding: 6px 12px;
}
.pay-msg .money-list .discount {
  position: relative;
  z-index: 10;
  border-radius:2px;
  cursor: pointer;
  margin-top: 16px;
  margin-left: 120px;
}
.pay-msg .money-list .discount .list {
  position: absolute;
  top: 31px;
  left: 0;
  width: 100%;
  background-color: #E2042B;
  display: none;
  border-radius: 0 0 2px 2px;
  padding-bottom: 10px;
}
.pay-msg .money-list .discount .elem {
  padding: 0 12px;
}
.pay-msg .money-list .more {
  position: absolute;
  right: 12px;
  top: 7px;
  background: #DE362D;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  line-height: 16px;
}
.pay-msg .money-list span {
  color: #333;
}
.pay-msg .money-list .total { 
  margin-left: 80px;
}
.pay-msg .money-list .total *{
  color: #d03925;
}
.pay-msg .territory {
  margin-right: 30px;
  line-height: 24px;
  margin-top: 20px;
}
.pay-msg .territory input[name='territory'] {
  display: none;
}
.pay-msg .territory b {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: #ccc 1px solid;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.pay-msg .territory input[name='territory']:checked+b {
  background: url(../images/icon/radio-c.png);
  width: 14px;
  height: 14px;
  border: 0;
}

.pay-way {
  padding: 10px 20px;
  border-bottom: #ccc 1px solid;
  overflow: hidden;
}
.pay-way .pay-list {
  width: 855px;
  padding: 20px 0;
}
.pay-way .pay-list li {
  margin-right: 45px;
}
.pay-way .pay-list input {
  display: none;
}
.pay-way .pay-list .label-radio {
  background: url(../images/icon/pay-bg01.jpg);
  width: 240px;
  height: 90px;
  display: block;
  line-height: 90px;
  font-size: 18px;
  cursor: pointer;
}
.pay-way .pay-list .label-radio b {
  display: block;
  background: url(../images/icon/pay-icons.png);
  background-position: 0 -3px;
  width: 74px;
  height: 90px;
  margin-left: 30px;
}
.pay-way .pay-list .label-radio span {
  text-align: center;
  width: 110px;
}
.pay-way .pay-list .label-radio02 b {
  background-position: 0 -90px;
}
.pay-way .pay-list .label-radio03 b {
  background: url(../images/icon/pay-icons-01.png);
}
.pay-way .pay-list .label-radio04 b {
  background-position: 0 -270px;
}
.pay-way .pay-list input[type='radio']:checked+label {
  width: 240px;
  height: 90px;
  border: none;
  background: url(../images/icon/pay-icon-bd.png);
}
.pay-way .top-row {
  line-height: 50px;
  font-size: 16px;
}
.pay-way .envelope .hongBao.active {
  background: url(../images/icon/radio-c.png);
  width: 14px;
  height: 14px;
  border: 0;
}
.pay-way .envelope .hongBao01.active {
  background: url(../images/icon/radio-c.png);
  width: 14px;
  height: 14px;
  border: 0;
}
.pay-way .envelope .hongBao,.hongBao01 {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: #ccc 1px solid;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}
.pay-way .envelope {
  position: relative;
  z-index: 10;
  border-radius:2px;
  cursor: pointer;
  margin-left: 60px;
}
.pay-way .envelope .win {
  line-height: 50px;
}
.pay-way .envelope .list {
  position: absolute;
  top: 31px;
  left: 0;
  width: 300px;
  background-color: #fff;
  display: none;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0 0 4px #999;
}
.pay-way .envelope .deduction {
  display: none;
  padding-left: 20px;
  color: red;
  font-size: 13px;
}
.pay-way .envelope .currency {
  display: none;
}
.pay-way .deduction * {
  color: red;
}
.pay-way02,.pay-way01 {
  display: none;
} 

.pay-submit {
  padding: 20px 0;
  font-size: 16px;
  line-height: 40px;
}
.pay-submit .monetary-unit select {
  width: 80px;
  height: 28px;
  border-radius: 2px;
  border: #ccc 1px solid;
  margin-top: 6px;
}
.pay-submit .submit {
  width: 140px;
  height: 40px;
  border-radius: 2px;
  background: #20B7B6;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border: 0;
  cursor: pointer;
}
.money_prompt {
  color: #d03925;
  margin-left: 40px;
  font-size: 14px;
}
.money_prompt span {
  padding: 0 4px;
}
.rmb_prompt {
  display: none;
}
.currency-msg .elem {
  margin-right: 100px;
}
.currency-msg #mtype {
  margin-top: 8px;
  height: 24px;
  width: 120px;
  margin-left: 6px;
}

/*link row*/
.top-link-row {
  border-bottom: #e5e5e5 1px solid;
  height: 61px;
  line-height: 58px;
}
.top-link-list {
  width: 900px;
  display: inline-block;
  font-size: 16px;
  padding-left: 20px;
}
.top-link-list .link-part {
  position: relative;
  margin-right: 60px;
  cursor: pointer;
}
.top-link-list .link-part span {
  position: absolute;
  display: block;
  background-color: #f0f0f0;
  font-size: 12px;
  font-weight: normal;
  color: #666;
  top: 46px;
  padding: 6px 8px;
  line-height: 16px;
  border-radius: 2px;
  text-align: left;
  white-space: nowrap;
  display: none;
}
.top-link-list .link-part b {
  position: absolute;
  background: transparent url(../images/icon/xsjt.png);
  width: 10px;
  height: 5px;
  display: block;
  top: -5px;
  left: 10px;
}
.top-link-list .link-part.active {
  font-weight: 700;
  color: #20B7B6;
  border-bottom: #20B7B6 3px solid;
}
.top-link-list .link-part:hover span {
  display: block;
}




