@charset "utf-8";
/* CSS Document */

.house-detailed,.right-side{ position:relative}
.share-box{ position:absolute; top:0; right:0;    z-index:900;}
.shares{ height:50px; padding:0 50px 0 22px; border:solid 1px #f0efef; display:inline-block; line-height:50px; color:#7f8182; font-size:16px; cursor:pointer; background:url(../images/pic/jiantou.jpg) 90% center no-repeat; }
.shares b{ display:block; width:26px; height:26px; background:url(../images/pic/fx.jpg) no-repeat; margin-top:12px; float:left; margin-right:14px;}
.share-box .show{border:solid 1px #f0efef; border-top:none; padding-bottom:20px; display:none; background:#fff; z-index:991;}
.share-box .show .weixin{ padding:20px 0 15px 0;}
.share-box .show .weixin .tit{ font-size:16px; color:#000; text-align:center;}
.share-box .show .weixin .tit b{background:url(../images/pic/weixin.jpg) no-repeat; width:26px; height:22px; vertical-align:middle; display:inline-block; margin-right:6px;}
.share-box .show .weixin img{ width:120px; height:120px; margin:8px auto; display:block;}
.share-box .show .weibo{ border-top:solid 1px #f0efef; padding:20px 0 15px 0; margin:0 15px;}
.share-box .show .weibo a{ font-size:16px; color:#000; text-align:center; display:block; line-height:19px;}
.share-box .show .weibo a b{ display:inline-block; width:24px; height:19px; background:url(../images/pic/weibo.jpg) no-repeat; margin-right:6px; vertical-align:middle}
/* 点击弹出bj */
.u911-bj{display:block;position:fixed;width:50%;height:50%;background:rgba(0,0,0,0.5);}
.img-911{position:fixed;top:50%;left:50%;width:180px;height:180px;padding: 10px;margin-top:-90px;margin-left:-90px;}
.img-911 img{width:100%;}
.none{display:none;}