@charset "utf-8";
/* CSS Document */
.nav-box {
  color: #999;
}
.header {
  position: relative;
  z-index: 99;
  background-color: #f6f6f6;
  padding: 26px 30px 30px;
}
.header .logo {
  margin-left: 20px;
    margin-right: 20px;
}
.header .search-box {
  position: relative;
  margin-top: 16px;
}
#search-result {
  background-color: #fff;
  text-align: left;
  width: 350px;
  height: 34px;
  line-height: 34px;
  border: #ccc 1px solid;
  border-radius: 2px 0 0 2px;
}
@media screen and (max-width:981px){

    .inbody {
        overflow-x: inherit;
    }

    .nav-pc {
        position: relative;
        text-align: center;
        top: 0;
    }

    #fb_no_style {
        display: none !important;
    }

    .nav-pc > * {
        float: none;
        display: inline-block!important;
        vertical-align: middle;
    }

    .nav-pc .head-name {
        padding-left: 36px;
        width: 60px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .nav-pc .message .msg-list {
        min-width: 150px;
    }

    .header .logo {
        float: none;
        margin-left: 0;
    }

  .header .search-box {
    width: 60%;
        margin: 30px auto;
    float: none;
  }
  #search-result {
    background-color: #fff;
    text-align: left;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: #ccc 1px solid;
    border-radius: 2px;
 }
}
#search-result .option-win {
  position: relative;
  cursor: pointer;
}
#search-result .option-list {
  background: #fff;
  padding: 10px 40px;
  border-top: #ccc 1px solid;
  border-radius: 2px;
  margin-top: 4px;
  line-height: 40px;
  box-shadow: 0 0 8px #999;
  cursor: pointer;
  display: none;
}
#search-result .selected {
  display: none;
}
#search-result .option-win b {
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/icon/gps.png) center no-repeat;
  height: 34px;
  width: 40px;
  display: block;
}
#search-result .option-win span {
  padding-left: 36px;
}
.header .search-btn {
  position: absolute;
  right: -1px;
  top: 0;
  height: 36px;
  padding: 0 10px;
  text-align: center;
  line-height: 36px;
  color: #fff;
  background: #20B7B6;
  border-radius: 0 2px 2px 0;
  margin-left: -1px;
}

/*main content*/
.main {
  background-color: #FFF;
  text-align: center;
}
.cont-box {
 display: inline-block;
 width: 960px;
 padding: 45px 0 100px;
}
@media screen and (max-width:980px){
  .cont-box {
    display: inline-block;
    width: 100%;
    padding: 45px 0;
  }
}

/*link row*/
.top-link-row {
  border-bottom: #e5e5e5 1px solid;
  height: 61px;
  line-height: 58px;
}
.top-link-list {
  width: 900px;
  display: inline-block;
  font-size: 16px;
  padding-left: 20px;
}
.top-link-list .link-part a {
  color: #333;
  display: inline-block;
}
.top-link-list .link-part {
  position: relative;
  margin-right: 60px;
  cursor: pointer;
}
.top-link-list .link-part span {
  position: absolute;
  display: block;
  background-color: #f0f0f0;
  font-size: 12px;
  font-weight: normal;
  color: #666;
  top: 46px;
  padding: 6px 8px;
  line-height: 16px;
  border-radius: 2px;
  text-align: left;
  white-space: nowrap;
  display: none;
}
.top-link-list .link-part b {
  position: absolute;
  background: transparent url(../images/icon/xsjt.png);
  width: 10px;
  height: 5px;
  display: block;
  top: -5px;
  left: 10px;
}
.top-link-list .link-part.active a {
  font-weight: 700;
  color: #20B7B6;
  border-bottom: #20B7B6 3px solid;
}
.top-link-list .link-part:hover span {
  display: block;
}

/*left side*/
.cont-box .left-side {
  width: 300px;
}
.cont-box .link-box {
  display: block;
}
.cont-box .link-box .left-msg {
  display: inline-block;
}
.cont-box .left-msg .msg {
  display: inline-block;
  line-height: 20px;
}
.cont-box .left-msg .msg span {
  padding: 0 6px;
  color: #666;
}
.cont-box .left-msg .touxiang {
  width: 74px;
  height: 74px;
  border-radius: 37px;
  overflow: hidden;
}
.cont-box .left-msg .basic {
  line-height: 30px;
  font-size: 16px;
}
.cont-box .left-msg .the-name {
  font-weight: 700;
  color: #000;
}
.cont-box .left-msg .the-gender {
  background: url(../images/icon/gender-icons.png);
  background-position: left 30px;
  height: 30px;
  width: 16px;
  margin-left: 6px;
  margin-right: 6px;
}
.cont-box .left-msg .the-age {
  color: #666;
}
.cont-box .left-msg .speak-lang {
  color: #666;
}
.cont-box .left-msg .professional {
  color: #666;
}
.cont-box .editor-row {
  display: inline-block;
  margin-top: 16px;
}
.cont-box .chat {
  padding: 0 8px;
  height: 32px;
  border-radius: 2px;
  background-color: #20B7B6;
  line-height: 32px;
  color: #fff;
  display: inline-block;
  cursor: pointer;  
}
.cont-box .password-modify-link {
  padding: 0 8px;
  height: 32px;
  border-radius: 2px;
  background-color: #f0f0f0;
  line-height: 32px;
  color: #333;
  border: 0;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
}
.cont-box .left-side dl {
  background: #f5f5f5;
  padding: 16px 30px 36px;
  margin-top: 32px;
  text-align: left;
}
.cont-box .left-side dt {
  color: #666;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 6px;
}
.cont-box .left-side dd {
  color: #666;
  line-height: 20px;
  font-size: 13px;
}

.cont-box .left-side-mobile {
    width: 300px;
    text-align: center;
    display: none;
  }
  .cont-box .left-side-mobile .link-box {
    width: 300px;
  }
  .cont-box .left-side-mobile .editor-row {
    width: 300px;
    text-align: center;
    display: block;
  }
  .cont-box .left-side-mobile .editor-row .chat {
    float: none;
    display: inline-block;
  }
  .cont-box .left-side-mobile .editor-row .password-modify-link {
    float: none;
    display: inline-block;
  }
  .cont-box .left-side-mobile dl {
    float: left;
    margin-top: 0;
    width: 375px;
    height: 160px;
  }
@media screen and (max-width:980px){
  .cont-box .left-side {
        display: block;
        float: none;
        width: 100%;
  }
  .cont-box .left-side-mobile {
    display: block;
  }
  .cont-box {
    display: inline-block;
    width: 100%;
  }
}


/*right side*/
.cont-box .right-side {
  width: 610px;
  text-align: left;
}
@media screen and (max-width:980px){
  .cont-box .right-side {
        width: 90%;
    display: inline-block;
    float: none;
  }

    .cont-box .right-side .individual-labels .tit {
        display: none;
}

    .cont-box .individual-labels .part {
        margin-bottom: 5px;
        float: none;
        display: inline-block;
    }
}

.cont-box .detaile-msg>li {
  margin-bottom: 36px;
}
.cont-box .right-side .tit {
  font-size: 24px;
  color: #000;
  line-height: 36px;
}
.cont-box .individual-labels .list {
  margin-top: 12px;
}
.cont-box .individual-labels .part {
  margin-right: 12px;
}
.cont-box .individual-labels .part span {
  height: 24px;
  line-height: 24px;
  width: 70px;
  background-color: #20B7B6;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  display: block;
}
@media screen and (max-width:980px) {
  .cont-box .individual-labels {
    float: left;
        width: 100%;
        margin-left: 0;
        text-align: center;
  }

    .cont-box .individual-labels .list {
        display: inline-block;
    }

  .mobile-first-row {
    background: #fafafa;
    padding: 20px 0;
  }
}

.cont-box .about-me {
  border-bottom: #ccc 1px solid;
  padding-bottom: 30px;
}
.cont-box .about-me .describe {
  color: #333;
  line-height: 24px;
  margin-top: 8px;
}
.cont-box .about-me .list {
  margin-top: 4px;
}
.cont-box .about-me .part {
  width: 305px;
  margin-top: 10px;
  line-height: 20px;
}
.cont-box .about-me dt {
  margin-right: 16px;
  color: #999;
}

.cont-box .life-photos {
  border-bottom: #ccc 1px solid;
  padding-bottom: 36px;
}
.cont-box .life-photos .pic-list {
  position: relative;
  padding-top: 16px;
  width: 620px;
}
.cont-box .life-photos .pic-list .pic {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.cont-box .life-photos .pic-list .pic a {
  width: 100%;
  height: 100%;
  display: block;
}
.cont-box .interest-in .list {
  margin-top: 8px;
} 
.cont-box .interest-in .part {
  line-height: 24px;
  padding: 10px 0;
}
.cont-box .interest-in dt {
  color: #666;
  width: 110px;
}
.cont-box .interest-in dd {
  color: #fff;
  background: #20B7B6;
  padding: 0 10px;
  border-radius: 2px;
  margin-right: 12px;
}

.cont-box .share-do {
  border-bottom: #ccc 1px solid;
  padding-bottom: 30px;
}
.cont-box .share-do .list {
  margin-top: 8px;
} 
.cont-box .share-do .part {
  line-height: 24px;
  padding: 10px 0;
}
.cont-box .share-do span {
  color: #fff;
  background: #20B7B6;
  padding: 0 10px;
  border-radius: 2px;
  margin-right: 12px;
  display: block;
}

.cont-box .where-live .list-out {
  margin-top: 10px;
  padding: 0 12px;
}
.cont-box .where-live .part-out {
  margin-top: 4px;
  margin-bottom: 36px;
}
.cont-box .where-live .tit-in {
  font-size: 18px;
  color: #000;
  line-height: 44px;
}
.cont-box .where-live .part-in {
  margin-top: 4px;
  margin-bottom: 26px;
}
.cont-box .where-live .touxiang {
  width: 54px;
  height: 54px;
  border-radius: 27px;
  overflow: hidden;
}
.cont-box .where-live .pres-left {
  width: 490px;
  padding-top: 4px;
}
.cont-box .where-live .who-box {
  line-height: 30px;
}
.cont-box .where-live .who {
  font-size: 16px;
  color: #000;
}
.cont-box .where-live .date {
  color: #999;
}
.cont-box .where-live .point {
  color: #20B7B6;
  line-height: 24px;
}
.cont-box .comments-out {
  position: relative;
  margin-top: 40px;
}
.cont-box .comments-out textarea {
  width: 100%;
  height: 120px;
  border: #ccc 1px solid;
}
.cont-box .comments-out input {
  border: 0;
  background-color: #20B7B6;
  color: #fff;
  height: 24px;
  width: 80px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.cont-box .comments-out button {
  border: 0;
  background-color: #20B7B6;
  color: #fff;
  height: 24px;
  width: 80px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.cont-box .comments-out select {
  height: 24px;
  width: 80px;
  border-radius: 2px;
}