@import "../functions/pxToRem";

/**
 * Convert font-size from px to rem with px fallback
 *
 * @param $size - the value in pixel you want to convert
 *
 * e.g. p {@include fontSize(12px);}
 *
 */

// 由于 IE 9 & IE 10 的 font-size 属性不支持 rem 单位(声明会被忽略),
// 所以额外声明 px 单位的用来给不支持 rem 的浏览器作为 fallback.

@mixin fontSizeToRem($size) {
    font-size: $size;
    font-size: pxToRem($size);
}

@mixin word-break-en {
    white-space: normal;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}