/**
 * 文字排版库
 */

// 单行文本超出自动省略
.typography-ellipsis {
    /*display: inline-block;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 多行文本超出 2 行, 自动省略
.typography-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    max-height: 3em;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    -webkit-line-clamp: 2;
    h1 > &,
    h2 > &,
    h3 > &,
    h4 > &,
    h5 > &,
    h6 > &,
    .h1 > &,
    .h2 > &,
    .h3 > &,
    .h4 > &,
    .h5 > &,
    .h6 > & {
        line-height: 1.5;
        max-height: 3em;
    }
}

