@charset "utf-8";

/**
 * 初始化 html root 字体大小
 */
$GlobalRootEmSize: 100;

/**
 * VI
 */

$default-color: #20B7B6;
$default-color-hover: darken($default-color, 10%);

$primary-color: #20B7B6;
$primary-color-hover: darken($primary-color, 10%);